# Input/Output Configuration (for local development only)
INPUT_FILE_PATH=./Entrada
INPUT_FILE_NAME=Megamatriz Electivas Final.xlsx
OUTPUT_JSON_PATH=./Salida
OUTPUT_CSV_PATH=./Salida
EQUIV_FILE_PATH=./Entrada/Tabla de equivalencias.xlsx
OUTPUT_MATRIX_PATH=./Salida

# Backend API Configuration
BACKEND_URL=http://localhost:8000
